[MASTER]
ignore=setup.py,docs/source/conf.py,physalia/third_party/monsoon.py,src
extension-pkg-whitelist=numpy

[MESSAGES CONTROL]
disable=locally-disabled

[TYPECHECK]
ignored-modules = numpy
ignored-classes = numpy
