[MASTER]
ignore=setup.py,docs/conf.py,physalia/third_party/monsoon.py,src,venv

extension-pkg-whitelist=numpy

[MESSAGES CONTROL]
disable=locally-disabled,fixme

[TYPECHECK]
ignored-modules = numpy
ignored-classes = numpy
